.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
    font-family: sans-serif;
  }

  .top-container {
    padding: 20px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border-radius: 0.7em;
    width: 60%;
    margin-right: 25%;
   
  }

  .top-container p {
    margin: 10px 0; 
    color: gray;
    display: flex; 
    align-items: center; 
    margin-left: 20px;
    
  }

  .top-container h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-left: 15px;
  }

  .middle-container {
    padding: 20px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border-radius: 0.7em;
    width: 60%;
    margin-right: 25%;
    margin-top: 25px;
  }

  .middle-container p {
    margin: 10px 0; 
    color: gray;
    display: flex; 
    align-items: center; 
    margin-left: 15px;
  }