.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 4%;
  font-family: sans-serif;
  
}


/* bottom container */
.items-cards {
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 4rem;
  background-color: white;
  width: 100%;
  border-radius: 1rem;
}


.back-btn {
  margin-left: 79%;
  margin-top: 33px;
}

.products-info {
  flex: 1 1 auto;
  margin-left: 1rem;
  margin-top: 1rem;
}

.products-info #title {
  color: grey;
}

.bottom-container h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-left: 15px;
  margin-bottom: 40px;
}

.products-info #disc {
  font-size: 1rem; 
  margin-top: 20px;
  word-spacing: -1px;
  font-weight: bold;
}

.products-info img {
  margin-left: -1rem;
}

.quantity img#decr {
  margin-left: 0.5rem; 
}

.quantity {
  display: flex;
  flex-direction: row;
  margin-left: 30rem;
  margin-top: -3.4rem;
}
