.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    padding: 10px;
    justify-content: flex-end;
    margin-top: 100px;
}


.products-container {
    display: flex;
    flex-wrap: wrap;
}


/*testing*/
.product-images {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 15px;
    flex: 0 0 auto;
}

.products-info {
    margin-left: 1rem;
    margin-top: 1rem;
    flex: 1 1 auto;
}

.products-info #disc {
    font-size: 1rem;
    font-weight: bold;
    word-spacing: -1px;
    margin-top: 23px;
}

.products-info #title {
    color: #333;
}

.products-info img {
    margin-left: -1rem;
}

.quantity {
    display: flex;
    flex-direction: row;
    margin-top: -5rem;
    margin-left: 30rem;

}

.quantity #incr {
    margin-right: 1rem;
}

.quantity #decr {
    margin-left: 1rem;
}

.btn {
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    width: 4rem;
    margin-left: 90%;
}

hr {
    width: 100%;
    background-color: #7a7a7ab8;
    height: 1px;
    margin-left: 0px;
}

.top-container {
    background-color: #ffff;
    padding: 23px;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: flex-start;
    border-radius: 0.5rem;
    width: 62%;
    margin-right: 25%;

}

.top-container p {
    color: grey;
    display: flex;
    align-items: center;
    margin: 11px 0;
    margin-left: 15px;

}

.top-container h1 {
    font-size: 2rem;
    margin-left: 15px;
    letter-spacing: 5px;
    color: #525252;
}


.middle-container {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 3px;
    margin-left: 16px;
    background-color: red;
}
