.sub-total {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 20rem;
  height: 22rem; 
  margin-left: 50%;
  border-radius: 0.5rem;
  background-color: white;
  padding: 20px;
}

.sub-total {
  position: fixed;
  top: 28%;
  right: 10%;
  transform: translateY(-50%);
  z-index: 1;
}

.sub-total h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.card input {
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  box-sizing: border-box;
  padding: 10px;
  width: 42rem;
  height: 3.5rem;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 20px;
}
.Date {
  flex-wrap: wrap;
  margin-right: 40px;
  margin-bottom: 20px;
  }

label {
  color: #3d3d3d;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 1rem;
}
.button6{
  height: 5rem;
  margin-top: 3rem;
  margin-left: 2.5rem;
}
.button7{
  width: 40rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: black;
  color: white;
}